@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Oak House<br>
    Mere Way<br>
    Ruddington Fields Business Park<br>
    Mere Way<br>
    Nottingham<br>
    NG11 6JS
    <abbr title="Phone">P:</abbr>
    01509 611341
</address>
