@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4">
            <h2>Users</h2>
        </div>
        <div class="col-md-4">
            <h2>Policies</h2>
        </div>
        <div class="col-md-4">
            <h2>Servers</h2>
        </div>
    </div>
}
else
{
    <div>
        <h4>Login to view your dashboard</h4>
    </div>
}
